* {
  margin: 0;
  padding: 0;
}
body {
  min-height: fit-content;
  min-width: fit-content;
}

.navbar {
  background-color: aquamarine;
}

.footer {
  display: grid;
  justify-content: center;
  position: relative;
  top: 20rem;
  margin-top: 2rem;
  background-color: aquamarine;
}

.form {
  position: relative;
  top: 10rem;
  justify-content: center;
  display: grid;
}

.lb {
  text-align: center;
}
